/* section-information */

.section-information {
    background: url(assets/images/background-section-category.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    padding: 50px 0;
}

.wrap-horseverse {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrap-horseverse .box-left {
    background-image: url(assets/images/background-title.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 220px;
    height: 220px;
    position: relative;
    z-index: 2;
}

.wrap-horseverse .wrap-title {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
}

.wrap-horseverse .title {
    font-size: 4.4rem;
    color: #FF12FF;
    position: relative;
    /* animation: glitch-skew 1s infinite linear alternate-reverse; */
    text-shadow: 2px 2px 0 #1a5696;
    text-transform: uppercase;
    font-weight: 700;
}

.wrap-horseverse .box-right {
    width: 65%;
    z-index: 2;
}

.wrap-horseverse .sub-title {
    font-size: 1.8rem;
    line-height: 1.2;
    color: var(--white-color);
}

.section-information .inner-information .information-detail {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.section-information .inner-information .wrap-info {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    z-index: 99;
}

.section-information .inner-information .wrap-info .name-horse {
    font-size: 6.3rem;
}

.section-information .inner-information .name-horse {
    line-height: 0.5;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 4px 0px #ff33f5;
}

.section-information .inner-information .wrap-info .box-info {
    background-image: url(assets/images/bg-info-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 580px;
    height: 320px;
    position: relative;
}

.section-information .inner-information .wrap-info .view-story {
    background: url(assets/images/bg-view-story.png) no-repeat;
    background-size: cover;
    font-weight: 700;
    font-size: 2.1rem;
    text-transform: uppercase;
    padding: 14px 0px;
    color: var(--white-color);
    display: block;
    width: 50%;
    margin-top: 24px;
    text-align: center;
}

.section-information .inner-information .wrap-info .content {
    font-size: 2.1rem;
    padding: 28px 10px 0 25px;
}

.section-information .inner-information .wrap-info .box-info::after {
    content: "";
    width: 98%;
    height: 95%;
    position: absolute;
    top: 27px;
    left: 18px;
    background-color: #7700778c;
    z-index: -1;
}

.section-information .inner-information .wrap-video {
    width: 85%;
    height: 740px;
    z-index: 9;
    position: relative;
}

.section-information .inner-information .background {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    background: url("assets/images/khung-video.png") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 5;
}

.section-information .inner-information .wrap-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-information .inner-information .list-information {
    margin-top: 100px;
}

.section-information .inner-information .list-information .wrap-horse {
    background: url(assets/images/background-horse.png) no-repeat;
    background-size: cover;
    height: 200px;
    position: relative;
    margin: 0 12px;
    cursor: pointer;
}

.section-information .inner-information .list-information .wrap-horse::after {
    content: "";
    width: 50px;
    height: 50px;
    background: url(assets/images/image-check.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 40%;
    right: 0%;
    opacity: 0.75;
    transform: translate(-50%, -50%);
}

.section-information .inner-information .list-information .slick-list {
    overflow-x: clip;
    overflow-y: unset;
}

.section-information .inner-information .list-information .wrap-horse .wrap-img {
    width: 200px;
    height: 175px;
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translate(-70%, 0%);
    transition: all .5s;
}

.section-information .inner-information .list-information .wrap-horse:hover .wrap-img {
    transform: translate(-70%, -5%);
}

.section-information .inner-information .list-information .wrap-horse .wrap-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-information .inner-information .list-information .wrap-horse .line {
    background: url(assets/images/line.png) no-repeat;
    background-size: cover;
    width: 90%;
    height: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 25%;
    left: 50%;
}

.section-information .inner-information .list-information .wrap-horse .info {
    position: absolute;
    transform: translateX(-50%);
    bottom: 5%;
    left: 50%;
    display: flex;
    align-items: center;
    width: 90%;
    line-height: 1.5;
    color: var(--white-color);
}

.section-information .inner-information .list-information .wrap-horse .info .name-horse {
    font-size: 3rem;
    margin-right: 8px;
}

.section-information .inner-information .list-information .wrap-horse .info .sub-title {
    font-size: 1.4rem;
}

.section-information .slick-prev:before,
.section-information .slick-next:before {
    color: #ff33f5;
}

@media (max-width: 1400px) {
    .section-information .inner-information .wrap-video {
        height: 640px;
    }
    .section-information .inner-information .list-information .wrap-horse .wrap-img{
        transform: translate(-65%, 0%);
    }
    .section-information .inner-information .list-information .wrap-horse::after {
        transform: translate(-25%, -50%);
    }
}

@media (max-width: 1280px) {
    .section-information .inner-information .wrap-video {
        height: 625px;
    }
}

@media (max-width: 1024px) {
    .section-information .inner-information .wrap-info .box-info {
        width: 400px;
        height: 220px;
    }
    .section-information .inner-information .wrap-video {
        height: 500px;
    }
    .section-information .inner-information .wrap-info .content {
        height: 100%;
        overflow: scroll;
    }
    .section-information .inner-information .list-information .wrap-horse .wrap-img {
        transform: translate(-60%, 0%);
    }
    .section-information .inner-information .list-information .wrap-horse::after {
        width: 35px;
        height: 35px;
        transform: translate(-40%, -50%);
    }
    .section-information .inner-information .list-information .wrap-horse .info .sub-title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

@media (max-width: 991px) {
    .section-information .inner-information .information-detail {
        display: block;
    }
    .section-information .inner-information .wrap-info {
        position: relative;
        top: 0;
        left: 0;
        z-index: 99;
        transform: translate(0);
        margin: 24px 0;
    }
    .section-information .inner-information .wrap-video {
        width: 100%;
        height: 480px;
    }
}

@media (max-width: 767px) {
    .section-information {
        padding: 200px 0;
    }
    .wrap-horseverse {
        display: block;
        margin-bottom: 20px;
    }
    .wrap-horseverse .box-left {
        width: 100px;
        height: 100px;
    }
    .wrap-horseverse .box-right {
        width: 100%;
    }
    .wrap-horseverse .title {
        font-size: 3rem;
    }
    .wrap-horseverse .sub-title {
        font-size: 1.2rem;
    }
    .section-information .inner-information .wrap-info .content {
        font-size: 1rem;
    }
    .section-information .inner-information .wrap-info .name-horse {
        font-size: 2rem;
    }
    .section-information .inner-information .information-detail {
        display: block;
    }
    .section-information .inner-information .wrap-info .view-story {
        width: 40%;
        font-size: 1rem;
        display: block;
        margin-bottom: 40px;
    }
    .section-information .inner-information .wrap-info .content::after {
        width: 100%;
        height: 100%;
        top: 10px;
        left: 8px;
    }
    .section-information .inner-information .wrap-video {
        height: 435px;
    }
    .section-information .inner-information .wrap-info .box-info::after {
        top: 20px;
        left: 14px;
    }
    .section-information .inner-information .list-information .wrap-horse .info {
        justify-content: space-between;
    }
    .section-information .inner-information .list-information .wrap-horse .line {
        height: 20px;
        bottom: 16%;
    }
}

@media (max-width: 376px) {
    .section-information .inner-information .wrap-info .box-info {
        width: 280px;
        height: 155px;
    }
    .section-information .inner-information .wrap-video {
        height: 200px;
    }
}